
.nav ul{
    display: flex;
        
}
.title{

    font-size: 60px;
    text-shadow: 1px 4px 10px orange;

}

.logo h1{
    font-family: 'RubikWetPaint-Regular.ttf';
    text-transform: capitalize;
    text-shadow: 1px 4px 10px orange;

    

}
@media (min-width:451px) {

    .links{
        display: flex;
    }
    .menue{
        display: none;
    }
    
}
@media (max-width:450px) {

    .menue{
        z-index: 200;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
    }

    .nav{
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        width: 340px;
        height: 511px;
        justify-items: center;
        background: rgba(27, 5, 81, 0.8);
        padding-top: 20px;
        box-shadow: 1px 1px 100px  black;
    }

    .links{
        display: none;
    }

    .nav ul{
        display: flex;
        flex-direction: column
    }

    .nav ul li {
        width: 200px;
        margin-bottom: 4rem;
        font-size: 28px;
        color: black !important;
        transition: 0.5s ease;
    }

    /* .nav ul li:hover{
        background: #000;
        color: white;

    } */

    
    
}




@font-face {
    font-family: 'RubikWetPaint-Regular.ttf';
    src: url(/RubikWetPaint-Regular.ttf);
}
